<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>

      .title {
        text-align: center;
      }
      .todo-form {
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 1rem;
      }

      .todo-container {
        margin:0;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .todo-container > div{
        min-width: 25%;
        max-width: 50%;
        padding: 1rem;
        border: 1px solid black;
        border-radius: 13px;
      }

      .todo-list{
          padding-bottom :1rem;
      }

      .todo-list div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        width: 100%;
        margin-left: 10%;
      }

      .todo-list div:hover .bxs-trash-alt {
        display:block;
      }

      .bxs-trash-alt:hover {
          color: red;
      }

      .todo-list_title {
        font-size: 1.2rem;
      }

      .todo-list_duedate {
        font-size: 14px;
        font-weight: 300;
        color: red;
      }

    </style>
</head>
<body>

<% if current_user != nil%>

  <form class="todo-form">

    <label for="title">Title</label>
    <input type="text" name="title" id="title">

    <label for="due_date">Due Date</label>
    <input type="date" name="due_date" id="due_date">

    <button class="btn btn-primary" type="submit">Create</button>

  </form>

  <h2 class="title"> My Todos </h2>

  <section class="todo-container">

  </section>

<% else %>
  <p> Please login </p>
<%end%>

<script>

  // fetching all todos data using fetch
  fetch('/getdata')
    .then(response => {
      return response.json();
    })
    .then(data => {

      const todo_section =  document.querySelector('.todo-container');
      let today = new Date().toJSON().slice(0, 10);

      const overDue = data.filter(data => data.due_date < today);
      const dueToday =  data.filter(data => data.due_date == today);
      const dueLater =  data.filter(data => data.due_date > today);

      const block =
      `<div>
        ${generateTodoSection("OverDue", overDue, true)}
        ${generateTodoSection("OverDue", dueToday, false)}
        ${generateTodoSection("OverDue", dueLater, true)}
      </div>`;

      function generateTodoSection(section_title, todos, showDueDate){
        const completed_todos = todos.filter(todo => todo.completed == true);
        let section = `
        <div class="todo-list">
          <h4>${section_title} - ${completed_todos.length} / ${todos.length}</h4>`;

          for(i=0; i<todos.length; i++) {

            section +=`
            <div>
            <form action="/todos/${todos[i].id}" method="post">
              <input type="checkbox" class="status" name="completed" ${todos[i].completed == true ? "checked" : ""} onclick=this.form.submit()>
            </form>`;

            if (todos[i].completed == true){
              section += `<s><p class="todo-list_title">${todos[i].title}</p></s>`;
            } else {
              section += `<p class="todo-list_title">${todos[i].title}</p>`;
            }
            if (showDueDate) {
              section += `<p class="todo-list_duedate">${todos[i].due_date}</p>`;
            }

            section += `
            <form action="/delete/${todos[i].id}" method="post" id="delete_form">
              <i class='bx bxs-trash-alt'></i>
            </form>
            </div>`;
          }
          section +=
        `</div>`;

        return section;
      };

      todo_section.insertAdjacentHTML('beforeend', block);

      // delete button function
      let delete_btn = document.querySelectorAll("#delete_form");

      delete_btn.forEach(function (deletefn){
        deletefn.addEventListener("click", function(e){

          if (confirm("Are you sure want to delete?") == true) {
            this.closest("#delete_form").submit();
          } else {
            e.preventDefault;
          }


        })
      });

    })
    .catch(error => {
      console.error('Error:', error);
    });

  // creating a new todo using javascript fetch
  const form = document.querySelector(".todo-form");

  form.addEventListener("submit", function(e){
    e.preventDefault();
    const title = document.getElementById("title").value;
    const due_date = document.getElementById("due_date").value;
    const user_id = <%= current_user.id %>;

    fetch("/create", {
      method: "POST",
      body: JSON.stringify({
        "user_id": user_id,
        "title": title,
        "due_date": due_date
      }),
      headers: {
        "Content-type": "application/json"
      }
    })
      .then(json =>{
        console.log(json);
        window.location.href= "/index";
      })
      .catch((error) => console.log(error));
  });

</script>

</body>
</html>
