<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>

      .title {
        text-align: center;
      }
      .todo-form {
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 1rem;
      }

      .todo-container {
        margin:0;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .todo-container > div{
        min-width: 25%;
        max-width: 50%;
        padding: 1rem;
        border: 1px solid black;
        border-radius: 13px;
      }

      .todo-list{
          padding-bottom :1rem;
      }

      .todo-list div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        width: 100%;
        margin-left: 10%;
      }

      .todo-list div:hover .bxs-trash-alt {
        display:block;
      }

      .bxs-trash-alt:hover {
          color: red;
      }

      .todo-list_title {
        font-size: 1.2rem;
      }

      .todo-list_duedate {
        font-size: 14px;
        font-weight: 300;
        color: red;
      }

    </style>
</head>
<body>

<% if current_user != nil%>

  <form class="todo-form">

    <label for="title">Title</label>
    <input type="text" name="title" id="title">

    <label for="due_date">Due Date</label>
    <input type="date" name="due_date" id="due_date">

    <button class="btn btn-primary" type="submit">Create</button>

  </form>

  <h2 class="title"> My Todos </h2>

  <section class="todo-container">

    <div>

      <%= render partial: "todo-section", locals: {
        section_title: "OverDue",
        todos: Todo.where(user_id: current_user).over_due,
        show_due_date: true
      } %>

    <%= render partial: "todo-section", locals: {
        section_title: "Due Today",
        todos: Todo.where(user_id: current_user).due_today,
        show_due_date: false
      } %>

    <%= render partial: "todo-section", locals: {
        section_title: "Due Later",
        todos: Todo.where(user_id: current_user).due_later,
        show_due_date: true
      } %>

    </div>

  </section>

<% else %>
  <p> Please login </p>
<%end%>

<script>

  let delete_btn = document.querySelectorAll('.bxs-trash-alt');

  delete_btn.forEach(function (deletefn){
    deletefn.addEventListener("click", function(){

      let parent = this.closest("#delete_form").submit();
    })
  });

  const form = document.querySelector(".todo-form");

  form.addEventListener("submit", function(e){
    e.preventDefault();
    const title = document.getElementById("title").value;
    const due_date = document.getElementById("due_date").value;
    const user_id = <%= current_user.id %>;

    fetch("/create", {
      method: "POST",
      body: JSON.stringify({
        "user_id": user_id,
        "title": title,
        "due_date": due_date
      }),
      headers: {
        "Content-type": "application/json"
      }
    })
      .then(json =>{
        console.log(json);
        window.location.href= "/index";
      })
      .catch((error) => console.log(error));

  });

</script>

</body>
</html>
